banktransfer/src/main/app/banktransfer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="908" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="admin" database="mule" doc:name="MySQL Configuration"/>
    <flow name="banktransferFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.get('amt')&gt;=0]">
                <db:select config-ref="MySQL_Configuration" doc:name="Database-source">
                    <db:parameterized-query><![CDATA[select * from account where accountno=#[message.inboundProperties.'http.query.params'.get('frmaccno')]]]></db:parameterized-query>
                </db:select>
                <set-variable variableName="frmaccno" value="#[payload]" doc:name="Variable"/>
                <db:select config-ref="MySQL_Configuration" doc:name="Database-destination">
                    <db:parameterized-query><![CDATA[select * from account where accountno=#[message.inboundProperties.'http.query.params'.get('toaccno')]]]></db:parameterized-query>
                </db:select>
                <set-variable variableName="toaccno" value="#[payload]" doc:name="Variable"/>
                <db:update config-ref="MySQL_Configuration" doc:name="Database-deposit">
                    <db:parameterized-query><![CDATA[update account set balance=balance-#[message.inboundProperties.'http.query.params'.get('amt')] where accountno= #[message.inboundProperties.'http.query.params'.get('frmaccno')]]]></db:parameterized-query>
                </db:update>
                <db:update config-ref="MySQL_Configuration" doc:name="Database-withdraw">
                    <db:parameterized-query><![CDATA[update account set balance=balance+#[message.inboundProperties.'http.query.params'.get('amt')] where accountno= #[message.inboundProperties.'http.query.params'.get('toaccno')]]]></db:parameterized-query>
                </db:update>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <set-payload value="amount can not be negative!" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
