csv2json/src/main/app/csv2json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="csv2jsonFlow">
        <file:inbound-endpoint path="C:\Users\Samvod\Desktop\project\csv2json" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern="^.*\.csv$" caseSensitive="true"/>
        </file:inbound-endpoint>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="3ca1bef2-6a80-491e-9d5c-2762382126c2">
            <dw:input-payload mimeType="application/csv" doc:sample="sample_data\list_csv.csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	employee: {
		empid: payload.empid,
		emplname: payload.emplname,
		compensation: payload.salary
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
